/*
        By:
        From:
        Name:
        Date:
*/

#include <bits/stdc++.h>

using namespace std;

#ifdef DEBUG
#define endline std::endl;
#define LOG(x) std::cerr << "#" << (#x) << ": " << (x) << std::endl
#else
#define endline "\n"
#define LOG(x)
#endif

const double EPS = 1e-9;
const double PI = 2.0 * acos(0.0);
typedef long long ll;

const int MAX_N = 1e5 + 5;
const int MAX_K = 16;

int main() {
	ios::sync_with_stdio(false);
	cin.tie(nullptr);



	return 0;
}
